.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color:#40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 10px 0;
        display: block;
        width: auto;
        height: 100%;
        align-items: center;
    }
    
    .NavigationItem a {
        color: #8f5c2c;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40A4C8;
        color: white;
}
}